<div class="scroll-box">
{{#if grouping}}
  {{#each-in (group-by groupByColumn (sort-by groupByColumn  data)) as |groupName groupItems|}}
    <tr><th class="two-col-select-grouped-heading">{{groupName}}</th></tr>
    {{#each  (sort-by sortKey groupItems) as |item index|}}
      {{#if (lt index rowCap) }}
        {{#if (eq index triggerLoadRow)}}
            {{is-showing on-enter=(action (mut rowCap) (inc 50 rowCap)) }}
        {{/if}}
        <tr class="pointer full-width" >
            {{two-col-cell
              formName=twoColSelectLabels.formName
              fieldName=twoColSelectLabels.fieldName
              dbid=item.id
              item=item
              index=index
              side=side
              rowLabel=rowLabel
              customData=customData
              mouseDragData=mouseDragData
              columnAttributes=columnAttributes
              iconAction=iconAction
            }}
        </tr>
      {{/if}}
    {{/each}}
  {{/each-in}}
  {{yield}}
{{else}}
  {{#each  (sort-by sortKey data) as |item index|}}
    {{#if (lt index rowCap) }}
      {{#if (eq index triggerLoadRow)}}
          {{is-showing on-enter=(action (mut rowCap) (inc 50 rowCap)) }}
      {{/if}}
      <tr class="{{leftColumnOption}} pointer full-width" id={{unique-name-helper model='ebooksUser' name='select' dbid=item.id}} >
          {{two-col-cell
            formName=twoColSelectLabels.formName
            fieldName=twoColSelectLabels.fieldName
            dbid=item.id
            item=item
            index=index
            side=side
            rowLabel=rowLabel
            customData=customData
            mouseDragData=mouseDragData
            columnAttributes=columnAttributes
            iconAction=iconAction
          }}
      </tr>
    {{/if}}
  {{/each}}
{{/if}}

{{#if sideEmpty}}
  <div class="no-results">
    No results
  </div>
{{/if}}
{{yield}}
</div>
