{{#if courseGroupInst}}
  <div id="two-col-row-{{item.id}}-{{index}}" class="two-col-select-item {{side}}-item" data-uid={{item.user.id}} data-row="{{item.index}}" data-side="{{side}}" data-groupId="{{item.course.id}}">
    {{two-col-cell-checked-icon item=item side=side}} {{item.user.label}}
  </div>
{{else}}

<div id="two-col-row-{{item.id}}-{{index}}" title={{if item.disabled item.disabledTooltip ''}} class="{{if item.disabled 'two-col-cell-label-disabled' ''}} two-col-select-item {{side}}-item" data-uid={{item.id}} data-row="{{item.index}}" data-side="{{side}}" data-disabled="{{or disabled item.disabled}}">

  {{#if item.leftIcon}}
    <i class="two-col-select-left-icon fa {{item.leftIcon}}" {{style color=item.leftIconColor}}></i>
  {{/if}}

  <span class="two-col-cell-label" data-uid={{item.id}} data-row="{{item.index}}" data-side="{{side}}" data-disabled="{{or disabled item.disabled}}">
     {{#unless item.disabled}}{{two-col-cell-checked-icon item=item side=side}}{{/unless}}
      {{#if item.rowImage}}
        <img src="{{item.rowImage}}" aria-hidden="true" class="two-col-row-image" title="{{item.rowImageTitle}}">
      {{/if}}
     {{get item rowLabel}}
  </span>

  <span class="two-col-cell-icon" data-uid={{item.id}} data-row="{{item.index}}" data-side="{{side}}">
     {{#if item.icon}} <a href="#" data-toggle="tooltip" data-placement="auto right" title="{{item.icon.hoverText}}"><i class="fa {{item.icon.faIcon}}" aria-hidden="true"></i></a>{{/if}}
  </span>

  {{#if columnAttributes}}
    {{#each columnAttributes as |columnAttribute| }}
      <span class="two-col-cell-additional-col">
            {{#if columnAttribute.name}}
              {{#if columnAttribute.unsafeName}}
                {{{get item columnAttribute.name}}}
              {{else}}
                {{get item columnAttribute.name}}
              {{/if}}
            {{/if}}
            {{#if columnAttribute.icon}}
              {{two-col-select-icon-popover iconList=item.iconColumnList iconAction=iconAction}}
            {{/if}}
            {{#if columnAttribute.iconColumnList}}
              {{#if item.iconList.length}}
                {{two-col-select-icon-popover iconList=item.iconList iconAction=iconAction}}
              {{/if}}
            {{/if}}
      </span>
    {{/each}}
  {{/if}}

</div>
{{/if}}
{{yield}}
