<div  class="pointer" {{action "toggleFilters"}}>
  <div>
    <i class='fa fa-{{if show icons.grid.twoColSelectExpand icons.grid.twoColSelectCollapse}}' aria-hidden="true"></i> <span class="toggle-filter-label">{{if show "Show" "Hide"}} Filters</span>
  </div>
</div>
{{yield}}
